.AcceuilImageDiv{
    border-radius: 25px;
    height: 225px;
    margin-bottom: 35px;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
}
.AcceuilImageDiv>h2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    left: 50%;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
}
.AcceuilImageDiv>img{
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.banniere-sombre {
    background-color: #000000;
    border-radius: 25px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
@media screen and (max-width: 1080px) {
    .AcceuilImageDiv{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        height: 111px;
        justify-content: flex-start;
    }
    .AcceuilImageDiv>h2{
        font-size: 24px;
        left: 15px;
        transform: translateY(-40%) translateX(0%);
        width: 175px;
    }
}