#carouselExampleControls{
    height: 225px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:15px;
    overflow: hidden;
    border-radius: 10px;
    background-color: black;
}
.carouselContainer{
    height: 225px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:15px;
    overflow: hidden;
    border-radius: 10px;
    img{
        object-fit: cover;
    }
}
.leftArrow{
    color: black;
    height: 20px;
    transform: rotate(90deg);
}
.carousel-control-prev{
    position: relative;
    top: -49%;
    left: 5%;
}
.carousel-control-next{
    position: relative;
    left: 90%;
    top: -58%;
}
.rightArrow{
    color: red;
    height: 20px;
    transform: rotate(270deg);
}
.carousel-inner{
    height: 100%;
    width: 100%;
}
.carousel-Item{
    height: 100%;
    width: 100%;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
.d-block{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slide{
    transition: 1s ease;
}

@media screen and (min-width: 1080px){
    .carouselContainer{
        margin-left: 100px;
        margin-right: 100px;
        height: 415px;
        border-radius: 25px;
        background-color: black;
    }
    #carouselExampleControls{
        height: 415px;
    }
}

