.pinkBtnContainer{
    display: flex;
    margin-bottom: 17.84px;
}
.pinkBtn{
    background-color: var(--colorPrimary);
    height: 18px;
    width: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    p{
        color: #ffffff;
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
} 
@media screen and (min-width: 1080px) {
    .pinkBtn{
        height: 25px;
        p{
            font-size: 14px;
        }
    }
}