.Tuile-div-container{
    display: flex;
    flex-direction: column;
}
.Tuile-container{
    height: 340px;
    border-radius: 10px;
    margin-left: 21px;
    margin-right: 19px;
    margin-bottom: 22px;
    width: 100%;
    overflow: hidden;
    .image-container{ 
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    h2{
        color: white;
        font-weight: 500;
        height: 52px;
        font-size: 18px;
        line-height: 142.6%;
        position: relative;
        bottom: 35%;
        right: -5%;
        text-align: start;
        width: 70%;
    }
}
@media screen and (min-width: 1080px){
    .Tuile-div-container{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        background: #F7F7F7;
        padding-right: 50px;
        padding-left: 50px;
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 56px;
        a{
            width: 33%;
        }
        .Tuile-container{
            height: 340px;
        }
    }

}