.FicheContainer{
    height: 225px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
    img{
        object-fit: cover;
    }
}
@media screen and (min-width: 1080px){
    .FicheContainer{
        margin-left: 100px;
        margin-right: 100px;
        height: 415px;
        border-radius: 25px;
        background-color: black;
    }
}